@defer (when segmentationItemsForTheCurrentSegmentation != null) {
    @defer (when segmentationItemsForTheCurrentSegmentation.length > 0) {
        <div style="display: flex; gap: 12px; flex-wrap: wrap;">
            @for (segmentationItem of segmentationItemsForTheCurrentSegmentation; track segmentationItem.id) {
                <soft-checkbox [control]="getSegmentationItemFormArrayControlByIndex(segmentationItem.index)" [label]="segmentationItem.name" [initializeToFalse]="false"></soft-checkbox>
            }
        </div>
    }
} @placeholder {
    <card-skeleton [height]="120"></card-skeleton> <!-- TODO FT: Change the card-skeleton, because it's not compatible with this UI -->
}