@defer (when model != null) {
    <soft-card [title]="detailsTitle" icon="pi pi-bell">

        <soft-panel>
            <panel-header></panel-header>
    
            <panel-body>
                <form [formGroup]="formGroup" class="grid">
                    <div class="col-12">
                        <soft-checkbox [control]="isMarkedAsRead" label="Notify users" [initializeToFalse]="false"></soft-checkbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textbox [control]="control('title')"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textbox [control]="control('titleLatin')"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textarea [control]="control('description')"></soft-textarea>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textarea [control]="control('descriptionLatin')"></soft-textarea>
                    </div>
                    <div class="col-12">
                        <!-- <soft-multiautocomplete 
                        [control]="selectedPartnerUsersForAppNotification"
                        (onTextInput)="searchPartnerUsers($event)" 
                        label="Recipients"
                        [options]="partnerUserOptions"
                        ></soft-multiautocomplete> -->
                        <!-- <soft-data-table [tableTitle]="tableTitle" [cols]="cols" [controllerName]="tableControllerName" [objectName]="objectName" [showAddButton]="false" selectionMode="multiple"
                        [newlySelectedItems]="selectedPartnerUsersForAppNotification" [unselectedItems]="unselectedPartnerUsersForAppNotification" (onLazyLoad)="selectedPartnerUserLazyLoad($event)"
                        [rowsSelectedNumber]="partnerUsersSelectedNumber"></soft-data-table> -->

                        <soft-data-table [tableTitle]="tableTitle" [cols]="cols" [controllerName]="controllerName" [objectName]="objectName" [showAddButton]="false" selectionMode="multiple"
                        [newlySelectedItems]="newlySelectedPartnerUserList" [unselectedItems]="unselectedPartnerUserList"
                        [selectedLazyLoadObservableMethod]="selectedPartnerUserLazyLoad" (onIsAllSelectedChange)="isAllSelectedChange($event)"></soft-data-table>
                    </div>
                    <div class="col-12">
                        <soft-editor [control]="control('emailBody')"></soft-editor>
                    </div>
                </form>
            </panel-body>
    
           <panel-footer>
                <p-button (onClick)="onSave()" label="Save" icon="pi pi-save"></p-button>
                <p-button (onClick)="sendEmailNotification()" label="Send email notification" icon="pi pi-send"></p-button>
                <soft-return-button></soft-return-button>
                <!-- <div footerRight>
                    Updated {{this.model.modifiedAt | pipeWithLocale}} ago
                </div> -->
           </panel-footer>
    
        </soft-panel>
    </soft-card>
} @placeholder {
    <card-skeleton [height]="502"></card-skeleton>
}