<ng-container *transloco="let t">
    @defer (when partnerNotificationFormGroup != null) {
        <soft-card [title]="detailsTitle" icon="pi pi-bell">
    
            <soft-panel>
                <panel-header></panel-header>
        
                <panel-body>
                    <form [formGroup]="formGroup" class="grid">
                        <div class="col-12">
                            <soft-checkbox [control]="isMarkedAsRead" [label]="t('NotifyUsers')" [initializeToFalse]="false" [fakeLabel]="false"></soft-checkbox>
                        </div>
                        <div class="col-12">
                            <soft-textbox [control]="control('title', partnerNotificationFormGroup)"></soft-textbox>
                        </div>
                        <div class="col-12">
                            <soft-textarea [control]="control('description', partnerNotificationFormGroup)"></soft-textarea>
                        </div>
                        <div class="col-12">
                            <soft-data-table [tableTitle]="t('Recipients')" [cols]="partnerUserTableCols" 
                            [loadTableDataObservableMethod]="loadPartnerUserTableDataObservableMethod" 
                            [exportTableDataToExcelObservableMethod]="exportPartnerUserTableDataToExcelObservableMethod"
                            [deleteItemFromTableObservableMethod]="deletePartnerUserObservableMethod"
                            [showAddButton]="false" selectionMode="multiple"
                            [newlySelectedItems]="newlySelectedPartnerUserList" [unselectedItems]="unselectedPartnerUserList" [rows]="5" (onLazyLoad)="onLazyLoad($event)"
                            [selectedLazyLoadObservableMethod]="selectedPartnerUserLazyLoad" (onIsAllSelectedChange)="isAllSelectedChange($event)"></soft-data-table>
                        </div>
                        <div class="col-12">
                            <soft-editor [control]="control('emailBody', partnerNotificationFormGroup)"></soft-editor>
                        </div>
                    </form>
                </panel-body>
        
               <panel-footer>
                    <p-button (onClick)="onSave()" [label]="t('Save')" icon="pi pi-save"></p-button>
                    <p-button (onClick)="sendEmailNotification()" [label]="t('SendEmailNotification')" icon="pi pi-send"></p-button>
                    <soft-return-button></soft-return-button>
               </panel-footer>
        
            </soft-panel>
        </soft-card>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>