<ng-container *transloco="let t">
    <spider-card [title]="t('BusinessSystem')" icon="pi pi-hashtag">

        <business-system-base-details
        [businessSystemFormGroup]="businessSystemFormGroup" 
        [formGroup]="formGroup" 
        (onSave)="onSave()" 
        [isFirstMultiplePanel]="true"
        (onBusinessSystemFormGroupInitFinish)="businessSystemFormGroupInitFinish()"
        [additionalButtons]="additionalButtons"
        (onIsAuthorizedForSaveChange)="isAuthorizedForSaveChange($event)"
        ></business-system-base-details>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0" [isMiddleMultiplePanel]="true">
            <panel-header [tabs]="updatePointsTabs"></panel-header>

            <panel-body>
                <excel-update-points-body 
                *ngIf="selectedTab(updatePointsTabs) === 1 && excelUpdatePointsFormGroup != null" 
                [excelUpdatePointsFormGroup]="excelUpdatePointsFormGroup"
                [isAuthorizedForSave]="isAuthorizedForSave"
                ></excel-update-points-body>
                <automatic-update-points-body 
                *ngIf="selectedTab(updatePointsTabs) === 2 && automaticUpdatePointsFormGroup != null" 
                [automaticUpdatePointsFormGroup]="automaticUpdatePointsFormGroup"
                ></automatic-update-points-body>
                <manual-update-points-body 
                *ngIf="selectedTab(updatePointsTabs) === 3 && manualUpdatePointsFormGroup != null" 
                [manualUpdatePointsFormGroup]="manualUpdatePointsFormGroup"
                ></manual-update-points-body>
            </panel-body>

            <panel-footer>
                <excel-update-points-footer 
                *ngIf="selectedTab(updatePointsTabs) === 1 && excelUpdatePointsFormGroup != null" 
                [excelUpdatePointsFormGroup]="excelUpdatePointsFormGroup"
                [businessSystemFormGroup]="businessSystemFormGroup"
                [isAuthorizedForSave]="isAuthorizedForSave"
                ></excel-update-points-footer>
                <automatic-update-points-footer 
                *ngIf="selectedTab(updatePointsTabs) === 2 && automaticUpdatePointsFormGroup != null" 
                [automaticUpdatePointsFormGroup]="automaticUpdatePointsFormGroup"
                [businessSystemFormGroup]="businessSystemFormGroup"
                [isAuthorizedForSave]="isAuthorizedForSave"
                ></automatic-update-points-footer>
                <manual-update-points-footer 
                *ngIf="selectedTab(updatePointsTabs) === 3 && manualUpdatePointsFormGroup != null" 
                [manualUpdatePointsFormGroup]="manualUpdatePointsFormGroup"
                [businessSystemFormGroup]="businessSystemFormGroup"
                [isAuthorizedForSave]="isAuthorizedForSave"
                ></manual-update-points-footer>
            </panel-footer>

        </spider-panel>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0" [isLastMultiplePanel]="true">
            <panel-header [title]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" icon="pi pi-clock"></panel-header>

            <panel-body>
                <form [formGroup]="manualUpdatePointsFormGroup" class="grid">
                    <div class="col-12">
                        <spider-data-table 
                        [tableTitle]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" 
                        [cols]="businessSystemUpdatePointsScheduledTaskTableCols" 
                        [rows]="5"
                        [showAddButton]="false" 
                        [showReloadTableButton]="true"
                        [showCardWrapper]="false"
                        [additionalFilterIdLong]="this.businessSystemFormGroup.controls.id.getRawValue()" 
                        [getTableDataObservableMethod]="getBusinessSystemUpdatePointsScheduledTaskTableDataObservableMethod" 
                        [exportTableDataToExcelObservableMethod]="exportBusinessSystemUpdatePointsScheduledTaskTableDataToExcelObservableMethod"
                        (onTotalRecordsChange)="businessSystemUpdatePointsScheduledTaskTableTotalRecords = $event" 
                        ></spider-data-table>
                    </div>
                </form>
            </panel-body>

        </spider-panel>
    </spider-card>
</ng-container>