<ng-container *transloco="let t">
    <spider-card [title]="t('BusinessSystem')" icon="pi pi-hashtag">

        <business-system-base-details
        [businessSystemFormGroup]="businessSystemFormGroup" 
        [formGroup]="formGroup" 
        (onSave)="onSave()" 
        [isFirstMultiplePanel]="true"
        (onBusinessSystemFormGroupInitFinish)="businessSystemFormGroupInitFinish()"
        [additionalButtons]="additionalButtons"
        (onIsAuthorizedForSaveChange)="isAuthorizedForSave = $event.isAuthorizedForSave"
        ></business-system-base-details>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && businessSystemUpdatePointsDataFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('BusinessSystemUpdatePointsData')" icon="pi pi-calendar-clock"></panel-header>

            <panel-body>
                <form [formGroup]="businessSystemUpdatePointsDataFormGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <spider-calendar [control]="control('updatePointsStartDate', businessSystemUpdatePointsDataFormGroup)" [showTime]="true"></spider-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <spider-number [control]="control('updatePointsInterval', businessSystemUpdatePointsDataFormGroup)"></spider-number>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button [disabled]="!isAuthorizedForSave" (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('Save')" icon="pi pi-save"></p-button>
                <p-button [disabled]="!isAuthorizedForSave" *ngIf="savedBusinessSystemUpdatePointsScheduledTaskIsPaused === false" 
                (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('PauseUpdatePointsScheduledTask')" icon="pi pi-pause" severity="warning"></p-button>
                <p-button [disabled]="!isAuthorizedForSave" *ngIf="savedBusinessSystemUpdatePointsScheduledTaskIsPaused === true" 
                (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('StartUpdatePointsScheduledTask')" icon="pi pi-play" severity="success"></p-button>
            </panel-footer>

        </spider-panel>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && manualUpdatePointsFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('ManualUpdatePoints')" icon="pi pi-hammer"></panel-header>

            <panel-body>
                <form [formGroup]="manualUpdatePointsFormGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <spider-calendar [control]="control('fromDate', manualUpdatePointsFormGroup)" [showTime]="true" [label]="t('ManualUpdatePointsFromDate')"></spider-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <spider-calendar [control]="control('toDate', manualUpdatePointsFormGroup)" [showTime]="true" [label]="t('ManualUpdatePointsToDate')"></spider-calendar>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button [disabled]="!isAuthorizedForSave" (onClick)="scheduleJobManually()" [label]="t('UpdatePoints')" icon="pi pi-history"></p-button>
            </panel-footer>
        </spider-panel>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && excelManualUpdatePointsFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('ExcelManualUpdatePoints')" icon="pi pi-file-excel"></panel-header>

            <panel-body>
                <form [formGroup]="excelManualUpdatePointsFormGroup" class="grid">
                    <div class="col-12">
                        <spider-file 
                        [label]="t('File')"
                        [required]="true"
                        [acceptedFileTypes]="['.xlsx', '.xls']" 
                        (onFileSelected)="onSelectedExcelManualUpdateFile($event)"
                        (onFileRemoved)="onRemovedExcelManualUpdateFile()"
                        [control]="excelManualUpdatePointsFormGroup.controls.excel"
                        [disabled]="!isAuthorizedForSave"
                        ></spider-file>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button [disabled]="!isAuthorizedForSave" (onClick)="excelManualUpdatePoints()" [label]="t('UpdatePoints')" icon="pi pi-history"></p-button>
            </panel-footer>
        </spider-panel>

        <spider-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0" [isLastMultiplePanel]="true">
            <panel-header [title]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" icon="pi pi-clock"></panel-header>

            <panel-body>
                <form [formGroup]="manualUpdatePointsFormGroup" class="grid">
                    <div class="col-12">
                        <spider-data-table 
                        [tableTitle]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" 
                        [cols]="businessSystemUpdatePointsScheduledTaskTableCols" 
                        [rows]="5"
                        [showAddButton]="false" 
                        [showReloadTableButton]="true"
                        [showCardWrapper]="false"
                        [additionalFilterIdLong]="this.businessSystemFormGroup.controls.id.getRawValue()" 
                        [getTableDataObservableMethod]="getBusinessSystemUpdatePointsScheduledTaskTableDataObservableMethod" 
                        [exportTableDataToExcelObservableMethod]="exportBusinessSystemUpdatePointsScheduledTaskTableDataToExcelObservableMethod"
                        (onTotalRecordsChange)="businessSystemUpdatePointsScheduledTaskTableTotalRecords = $event" 
                        ></spider-data-table>
                    </div>
                </form>
            </panel-body>

        </spider-panel>
    </spider-card>
</ng-container>