@defer (when segmentation?.segmentationItemsDTOList != null) {
    @defer (when segmentation.segmentationItemsDTOList.length > 0) {
        <div style="display: flex; gap: 12px; flex-wrap: wrap;">
            @for (segmentationItemFormGroup of getSegmentationItemFormArrayGroups(segmentationItemsFormArray); track segmentationItemFormGroup) {
                <spider-checkbox [control]="control('checked', segmentationItemFormGroup)" [label]="segmentationItemFormGroup.getRawValue().name" [inlineLabel]="true"></spider-checkbox>
            }
        </div>
    }
} @placeholder {
    <card-skeleton [height]="120"></card-skeleton> <!-- TODO FT: Change the card-skeleton, because it's not compatible with this UI -->
}