@defer (when segmentationItemsForTheCurrentSegmentation != null) {
    @defer (when segmentationItemsForTheCurrentSegmentation.length > 0) {
        <div style="display: flex; gap: 12px; flex-wrap: wrap;">
            @for (segmentationItemFormGroup of getFormArrayGroups(segmentationItemsFormArray); track segmentationItemFormGroup) {
                <spider-checkbox [control]="control('checked', segmentationItemFormGroup)" [label]="segmentationItemFormGroup.getRawValue().name" [initializeToFalse]="false"></spider-checkbox>
            }
        </div>
    }
} @placeholder {
    <card-skeleton [height]="120"></card-skeleton> <!-- TODO FT: Change the card-skeleton, because it's not compatible with this UI -->
}