<ng-container *transloco="let t">
    <soft-card [title]="t('BusinessSystem')" icon="pi pi-hashtag">

        <business-system-base-details
        [businessSystemFormGroup]="businessSystemFormGroup" 
        [formGroup]="formGroup" 
        (onSave)="onSave()" 
        [isFirstMultiplePanel]="true"
        (onBusinessSystemFormGroupInitFinish)="businessSystemFormGroupInitFinish()"
        [additionalButtons]="additionalButtons"
        ></business-system-base-details>

        <soft-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && businessSystemUpdatePointsDataFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('BusinessSystemUpdatePointsData')" icon="pi pi-calendar-clock"></panel-header>

            <panel-body>
                <form [formGroup]="businessSystemUpdatePointsDataFormGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <soft-calendar [control]="control('updatePointsStartDate', businessSystemUpdatePointsDataFormGroup)" [showTime]="true"></soft-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-number [control]="control('updatePointsInterval', businessSystemUpdatePointsDataFormGroup)"></soft-number>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('Save')" icon="pi pi-save"></p-button>
                <p-button *ngIf="savedBusinessSystemUpdatePointsScheduledTaskIsPaused === false" 
                (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('PauseUpdatePointsScheduledTask')" icon="pi pi-pause" severity="warning"></p-button>
                <p-button *ngIf="savedBusinessSystemUpdatePointsScheduledTaskIsPaused === true" 
                (onClick)="onSaveBusinessSystemUpdatePointsData()" [label]="t('StartUpdatePointsScheduledTask')" icon="pi pi-play" severity="success"></p-button>
            </panel-footer>

        </soft-panel>

        <soft-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && manualUpdatePointsFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('ManualUpdatePoints')" icon="pi pi-hammer"></panel-header>

            <panel-body>
                <form [formGroup]="manualUpdatePointsFormGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <soft-calendar [control]="control('fromDate', manualUpdatePointsFormGroup)" [showTime]="true" [label]="t('ManualUpdatePointsFromDate')"></soft-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-calendar [control]="control('toDate', manualUpdatePointsFormGroup)" [showTime]="true" [label]="t('ManualUpdatePointsToDate')"></soft-calendar>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button (onClick)="scheduleJobManually()" [label]="t('UpdatePoints')" icon="pi pi-history"></p-button>
            </panel-footer>
        </soft-panel>

        <soft-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0 && excelManualUpdatePointsFormGroup != null" [isMiddleMultiplePanel]="true">
            <panel-header [title]="t('ExcelManualUpdatePoints')" icon="pi pi-file-excel"></panel-header>

            <panel-body>
                <form [formGroup]="excelManualUpdatePointsFormGroup" class="grid">
                    <div class="col-12">
                        <soft-file 
                        [label]="t('File')"
                        [required]="true"
                        [acceptedFileTypes]="['.xlsx', '.xls']" 
                        (onSelectedFile)="onSelectedExcelManualUpdateFile($event)"></soft-file>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button (onClick)="excelManualUpdatePoints()" [label]="t('UpdatePoints')" icon="pi pi-history"></p-button>
            </panel-footer>
        </soft-panel>

        <soft-panel *ngIf="this.businessSystemFormGroup.controls.id?.getRawValue() > 0" [isLastMultiplePanel]="true">
            <panel-header [title]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" icon="pi pi-clock"></panel-header>

            <panel-body>
                <form [formGroup]="manualUpdatePointsFormGroup" class="grid">
                    <div class="col-12">
                        <soft-data-table 
                        [tableTitle]="t('SuccessfullyDoneBusinessSystemUpdatePointsScheduledTaskList')" 
                        [cols]="businessSystemUpdatePointsScheduledTaskTableCols" 
                        [rows]="5"
                        [showAddButton]="false" 
                        [showReloadTableButton]="true"
                        [showCardWrapper]="false"
                        [additionalFilterIdLong]="this.businessSystemFormGroup.controls.id.getRawValue()" 
                        [getTableDataObservableMethod]="getBusinessSystemUpdatePointsScheduledTaskTableDataObservableMethod" 
                        [exportTableDataToExcelObservableMethod]="exportBusinessSystemUpdatePointsScheduledTaskTableDataToExcelObservableMethod"
                        (onTotalRecordsChange)="businessSystemUpdatePointsScheduledTaskTableTotalRecords = $event" 
                        ></soft-data-table>
                    </div>
                </form>
            </panel-body>

        </soft-panel>
    </soft-card>
</ng-container>