  <ng-container *transloco="let t">
    <div class="card dashboard-card-wrapper">
      <div class="big-header" style="margin-bottom: 10px;">
        <span>{{t('TierList')}}</span>
        <div class="bold-header-separator"></div>
      </div>
      <div style="display: flex; flex-direction: column; position: relative; z-index: 2;">
        <timeline-index-progressbar *ngIf="tiers !== undefined" #timeline [tiers]="tiers" [currentTier]="tierForTheCurrentPartnerUser" [currentUserPoints]="currentPartnerUser?.points" 
        [connectorMethod]="connectorMethod"></timeline-index-progressbar>
      </div>
      <div class="card-overflow-icon">
        <i class="pi pi-crown"></i>
      </div>
    </div>
  </ng-container>
