<ng-container *transloco="let t">
    @defer (when tierFormArray != null && businessSystemTierFormArray != null && businessSystemTierDiscountProductGroupFormArray != null) {
        <spider-panel>
            <panel-header [title]="t('TierList')" [showBigTitle]="true" icon="pi pi-crown"></panel-header>
    
            <panel-body [normalBottomPadding]="true">
    
                @for (tierFormGroup of getFormArrayGroups(this.tierFormArray); track tierIndex; let tierIndex = $index; let last = $last) {
                    <index-card [index]="tierIndex" [last]="false" [crudMenu]="tierCrudMenu" (onMenuIconClick)="tierLastIndexClicked.index = $event">
                        <form [formGroup]="tierFormGroup" class="grid">
                            <div class="col-12 md:col-4">
                                <spider-textbox [control]="control('name', tierFormGroup)"></spider-textbox>
                            </div>
                            <div class="col-12 md:col-4">
                                <spider-number [control]="control('validFrom', tierFormGroup)"></spider-number>
                            </div>
                            <div class="col-12 md:col-4">
                                <spider-number [control]="control('validTo', tierFormGroup)"></spider-number>
                            </div>
                            <div class="col-12">
                                <spider-textarea [control]="control('description', tierFormGroup)"></spider-textarea>
                            </div>

                            <div class="col-12">
                                @for (businessSystemTierFormGroup of getBusinessSystemTierFormArrayGroups(tierIndex); track businessSystemTierIndex; let businessSystemTierIndex = $index; let last = $last) {
                                    <index-card [index]="businessSystemTierIndex" [crudMenu]="businessSystemTierCrudMenu" (onMenuIconClick)="businessSystemTierLastIndexClicked.index = $event; tierLastIndexClicked.index = tierIndex" [last]="false">
                                        <form [formGroup]="businessSystemTierFormGroup" class="grid">
                                            <div class="col-12">
                                                <spider-dropdown [control]="control('businessSystemId', businessSystemTierFormGroup)" (onChange)="businessSystemChange($event, tierIndex, businessSystemTierIndex)" [options]="businessSystemOptions"></spider-dropdown>
                                            </div>
                                            <div class="col-12">
                                                <spider-data-table 
                                                [tableTitle]="t('DiscountProductGroupList')" 
                                                #businessSystemTierDiscountProductGroupTable
                                                (onIsAllSelectedChange)="allSelected($event)"
                                                (onRowSelect)="rowSelect($event)" 
                                                (onRowUnselect)="rowUnselect($event)" 
                                                selectionMode="multiple" 
                                                [showAddButton]="false" 
                                                [hasLazyLoad]="false" 
                                                [showPaginator]="false"
                                                [showExportToExcelButton]="false" 
                                                [cols]="businessSystemTierDiscountProductGroupCols" 
                                                [getFormArrayItems]="getDiscountProductGroupFormArrayItems" 
                                                [getFormControl]="getDiscountProductGroupFormArrayControl" 
                                                [getAlreadySelectedItemIds]="getAlreadySelectedBusinessSystemTierDiscountProductGroupIdsForBusinessSystem" 
                                                [getAlreadySelectedItems]="getAlreadySelectedDiscountProductGroupListForBusinessSystem"
                                                [additionalIndexes]="getBusinessSystemTierDiscountProductGroupAdditionalIndexes(tierIndex, businessSystemTierIndex)"
                                                ></spider-data-table>
                                            </div>
                                        </form>
                                    </index-card>
                                }

                                <div>
                                    <spider-button (onClick)="addNewBusinessSystemTier(tierIndex)" [label]="t('AddNewBusinessSystemTier')" icon="pi pi-plus"></spider-button>
                                </div>
                            </div>
    
                        </form>
                    </index-card>
                }
    
                <div class="panel-add-button">
                    <spider-button (onClick)="addNewTier(null)" [label]="t('AddNewTier')" icon="pi pi-plus"></spider-button>
                </div>
    
            </panel-body>
    
            <panel-footer>
                <spider-button [disabled]="!isAuthorizedForSave" (onClick)="onSave(false)" [label]="t('Save')" icon="pi pi-save"></spider-button>
            </panel-footer>
    
        </spider-panel>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>
