<p-panel 
    [ngClass]="{
    'multiple-panel-first': isFirstMultiplePanel,
    'multiple-panel-middle': isMiddleMultiplePanel,
    'multiple-panel-last': isLastMultiplePanel,
    'soft-panel': true
    }"
    >
    <ng-template pTemplate="header">
        <div style="padding-left: 10px; padding-right: 10px;">
            <ng-content select="panel-header"></ng-content>
        </div>
    </ng-template>

    <ng-template *ngIf="crudMenu" pTemplate="icons">
        <div class="mr-2">
            <i class="pi pi-ellipsis-h icon-hover" (click)="menuItemClick(index, $event)"></i>
            <p-menu #menu [model]="crudMenu" [popup]="true" appendTo="body"></p-menu>
        </div>
    </ng-template>

    <div style="padding: 28px; padding-bottom: 14px;">
        <ng-content select="panel-body"></ng-content>
    </div>

    <ng-content select="panel-footer"></ng-content>

</p-panel>
