@defer (when model != null) {
    <soft-card [title]="detailsTitle" icon="pi pi-user">
        <soft-panel>
            <panel-header title="Base details"></panel-header>
    
            <panel-body>
                <form [formGroup]="formGroup" class="grid">
                    <div class="col-12">
                        <soft-textbox [control]="control('email', false, false, true)"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-calendar [control]="control('birthDate', false, false, false)"></soft-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-dropdown [control]="control('genderId', false, false, false)" [options]="genderOptions"></soft-dropdown>
                    </div>
                    <div class="col-12">
                        <soft-multiselect
                        [control]="selectedRoles"
                        label="Roles"
                        [options]="roleOptions"></soft-multiselect>
                    </div>
                </form>
            </panel-body>
    
            <panel-footer>
                <p-button (onClick)="onSave()" label="Save" icon="pi pi-save"></p-button>
                <soft-return-button></soft-return-button>
            </panel-footer>
        </soft-panel>

    </soft-card>
} @placeholder {
    <card-skeleton [height]="502"></card-skeleton>
}