USLOVI KORIŠĆENJA

Dobrodošli na [Naziv Vašeg SaaS proizvoda], platformu za kreiranje i upravljanje lojalti programima. Korišćenjem naše platforme, saglasni ste sa sledećim uslovima korišćenja. Molimo vas da ih pažljivo pročitate.

1. OPŠTE ODREDBE1.1. Ovi uslovi korišćenja regulišu pravila i obaveze korisnika prilikom korišćenja [Naziv Vašeg SaaS proizvoda] (dalje u tekstu: "Platforma").1.2. Pristupom ili korišćenjem Platforme prihvatate ove uslove u celosti.1.3. Ukoliko se ne slažete sa bilo kojim delom ovih uslova, molimo vas da ne koristite Platformu.

2. REGISTRACIJA I KORIŠĆENJE PLATFORME2.1. Da biste koristili Platformu, morate se registrovati i kreirati korisnički nalog.2.2. Odgovorni ste za tačnost podataka koje unosite prilikom registracije.2.3. Vaš nalog je ličan i nije dozvoljeno deljenje pristupnih podataka sa trećim licima.

3. PRAVA I OBAVEZE KORISNIKA3.1. Korisnik se obavezuje da će Platformu koristiti u skladu sa važećim zakonima i propisima.3.2. Zabranjeno je zloupotrebljavati Platformu, uključujući, ali ne ograničavajući se na pokušaje neovlašćenog pristupa, manipulaciju podacima ili korišćenje Platforme u nezakonite svrhe.

4. OGRANIČENJE ODGOVORNOSTI4.1. Platforma se pruža "kao takva", bez ikakvih garancija.4.2. Ne garantujemo neprekidan rad ili potpunu bezbednost podataka, ali preduzimamo sve razumne mere za njihovu zaštitu.4.3. Ne snosimo odgovornost za bilo kakve gubitke ili štetu nastalu usled korišćenja Platforme.

5. ZAŠTITA PRIVATNOSTI I PODATAKA5.1. Svi podaci korisnika biće obrađeni u skladu sa našom Politikom privatnosti.5.2. Nećemo deliti vaše podatke sa trećim licima bez vašeg pristanka, osim ako je to zakonski obavezno.

6. IZMENI I DOPUNE USLOVA KORIŠĆENJA6.1. Zadržavamo pravo da u bilo kom trenutku izmenimo ili dopunimo ove uslove korišćenja.6.2. O svim izmenama korisnici će biti blagovremeno obavešteni putem e-maila ili notifikacija na Platformi.

7. ZAVRŠNE ODREDBE7.1. Ovi uslovi stupaju na snagu danom objavljivanja na Platformi.7.2. Svi sporovi koji proisteknu iz korišćenja Platforme rešavaće se mirnim putem, a ukoliko to nije moguće, nadležan je sud u [Unesite mesto nadležnog suda].

Za sva pitanja ili nejasnoće, kontaktirajte nas na [Vaš kontakt e-mail].Hvala što koristite [Naziv Vašeg SaaS proizvoda]!

