<ng-container *transloco="let t">
    @defer (when model != null) {
        <soft-card [title]="detailsTitle" icon="pi pi-id-card">
            <soft-panel>
                <panel-header></panel-header>
        
                <panel-body>
                    <form [formGroup]="formGroup" class="grid">
                        <div class="col-12">
                            <soft-textbox [control]="control('name')"></soft-textbox>
                        </div>
                        <div class="col-12">
                            <soft-textarea [control]="control('description')"></soft-textarea>
                        </div>
                        <div class="col-12">
                            <soft-multiautocomplete 
                                [control]="selectedUsers"
                                (onTextInput)="searchUsers($event)" 
                                [label]="t('UserList')"
                                [options]="userOptions"
                                ></soft-multiautocomplete>
                        </div>
                        <div class="col-12">
                            <soft-multiselect
                                [control]="selectedPermissions"
                                [label]="t('PermissionList')"
                                [options]="permissionOptions"></soft-multiselect>
                        </div>
                    </form>
                </panel-body>
        
            <panel-footer>
                    <p-button (onClick)="onSave()" [label]="t('Save')" icon="pi pi-save"></p-button>
                    <soft-return-button></soft-return-button>
            </panel-footer>
        
            </soft-panel>
        </soft-card>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>