  <div style="display: flex; flex-direction: column; gap: 14px; padding: 30px; position: relative; overflow: hidden;" class="card">
    <div class="big-header">
      {{currentUser?.points}} points
      <div class="bold-header-separator"></div>
    </div>
    <div style="display: flex; flex-direction: column; gap: 6px; position: relative; z-index: 2;">
      <div style="display: flex; justify-content: space-between;">
        <div>{{tierForTheCurrentUser?.name}}</div>
        <div>{{tierForTheCurrentUser?.validTo}} points</div>
      </div>
      <p-progressBar [value]="levelPercentForTheCurrentUser" color="var(--primary-dark-color)"/>
    </div>
    <div class="card-overflow-icon" style="position: absolute; overflow: hidden; right: 8px; top: -25px; z-index: 1;">
      <i class="pi pi-heart" style="font-size: 270px;"></i>
    </div>
  </div>


  <div style="padding: 30px; position: relative; overflow: hidden;" class="card">
    <div class="big-header">
      Your retail QR code 
      <div class="bold-header-separator"></div>
    </div>
    <div class="qr-component-wrapper" style="position: relative; z-index: 2;">
      <div class="text-wrapper">
        <div class="header" style="margin-bottom: 16px;">
          Lorem ipsum dolor sit amet consectetur.
          <div class="header-separator"></div>
        </div>
        <div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos voluptas beatae maxime vero est magnam dolorem minima optio adipisci, dignissimos esse repellat cum reprehenderit aliquam perferendis natus libero at ut.
        </div>
      </div>

      <div class="vertical-gray-separator responsive-hidden" style="height: 210px;">
      </div>

      <!-- <div class="blockHead"><span class="blocktext">Your QR code</span></div> -->
      <div style="text-align: center; margin: auto;">
        <div class="qr-code">
          <qrcode [qrdata]="'Your data string'" [width]="230" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
    </div>
    <div class="card-overflow-icon" style="position: absolute; overflow: hidden; right: 8px; top: -25px; z-index: 1;">
      <i class="pi pi-qrcode" style="font-size: 270px;"></i>
    </div>
  </div>