  <div class="card dashboard-card-wrapper">
    <div class="big-header" style="margin-bottom: 10px;">
      Notifications
      <div class="bold-header-separator"></div>
    </div>
    <div style="display: flex; flex-direction: column; position: relative; z-index: 2;">
      <div style="display: flex; justify-content: space-between;">
        <!-- <div>{{tierForTheCurrentUser?.name}}</div>
        <div>{{tierForTheCurrentUser?.validTo}} points</div> -->
      </div>
      @for (notification of currentUserNotifications?.data; track $index) {
        <div [class]="(notification.isMarkedAsRead ? 'primary-lighter-color-background' : '') + ' notification-border'" style="padding: 18px; margin: 0px;">
          <div class="text-wrapper">
            <div class="header" style="margin-bottom: 10px; display: flex; justify-content: space-between; position: relative;">
              <div>
                <div [class]="notification.isMarkedAsRead ? '' : 'bold'">{{notification.title}}</div>
                <div class="header-separator"></div>
              </div>
              <div>
                <i class="pi pi-ellipsis-h icon-hover" (click)="menu.toggle($event)"></i>
                  <p-menu #menu [model]="crudMenu" [popup]="true" appendTo="body"></p-menu>
              </div>
            </div>
            <div>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos voluptas beatae maxime vero est magnam dolorem minima optio adipisci, dignissimos esse repellat cum reprehenderit aliquam perferendis natus libero at ut.
            </div>
          </div>
        </div>
      }
      <!-- <p-progressBar [value]="levelPercentForTheCurrentUser" color="var(--primary-dark-color)"/> -->
    </div>
    <p-paginator
      (onPageChange)="onLazyLoad($event)"
      [first]="tableFilter.first"
      [rows]="tableFilter.rows" 
      [totalRecords]="currentUserNotifications?.totalRecords">
    </p-paginator>
    <div class="card-overflow-icon" style="position: absolute; overflow: hidden; right: 8px; top: -25px; z-index: 1;">
      <i class="pi pi-bell" style="font-size: 270px;"></i>
    </div>
  </div>


  <!-- <div style="padding: 30px; position: relative; overflow: hidden;" class="card">
    <div class="big-header">
      Your retail QR code 
      <div class="bold-header-separator"></div>
    </div>
    <div class="qr-component-wrapper" style="position: relative; z-index: 2;">
      <div class="text-wrapper">
        <div class="header" style="margin-bottom: 16px;">
          Lorem ipsum dolor sit amet consectetur.
          <div class="header-separator"></div>
        </div>
        <div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos voluptas beatae maxime vero est magnam dolorem minima optio adipisci, dignissimos esse repellat cum reprehenderit aliquam perferendis natus libero at ut.
        </div>
      </div>

      <div class="vertical-gray-separator responsive-hidden" style="height: 210px;">
      </div>

      <div class="blockHead"><span class="blocktext">Your QR code</span></div>
      <div style="text-align: center; margin: auto;">
        <div class="qr-code">
        </div>
      </div>
    </div>
    <div class="card-overflow-icon" style="position: absolute; overflow: hidden; right: 8px; top: -25px; z-index: 1;">
      <i class="pi pi-qrcode" style="font-size: 270px;"></i>
    </div>
  </div> -->