<div class="buttons-wrapper" *transloco="let t">
    <spider-button 
    [disabled]="!isAuthorizedForSave" 
    (onClick)="automaticUpdatePoints()" 
    [label]="t('Save')" 
    icon="pi pi-save"
    ></spider-button>

    <spider-button 
    *ngIf="businessSystemFormGroup.getRawValue().updatePointsScheduledTaskIsPaused === false" 
    [disabled]="!isAuthorizedForSave" 
    (onClick)="changeScheduledTaskUpdatePointsStatus()" 
    [label]="t('PauseUpdatePointsScheduledTask')" 
    icon="pi pi-pause" 
    severity="warning"
    ></spider-button>

    <spider-button 
    *ngIf="businessSystemFormGroup.getRawValue().updatePointsScheduledTaskIsPaused === true" 
    [disabled]="!isAuthorizedForSave" 
    (onClick)="changeScheduledTaskUpdatePointsStatus()" 
    [label]="t('StartUpdatePointsScheduledTask')" 
    icon="pi pi-play" 
    severity="success"
    ></spider-button>
</div>