<p-timeline [value]="items" align="left" styleClass="customized-timeline">
	<ng-template pTemplate="marker" let-item>
	  <span [class]="(isCurrentItem(item) ? 'current-item ' : ' ') + (isPassed(item) ? 'passed-item ' : ' ') + 'circle'">
		<ng-container *ngIf="isPassed(item) === false">
			{{item.index}}
		</ng-container>
		<ng-container *ngIf="isPassed(item) === true">
			<i class="pi pi-check"></i>
		</ng-container>
	  </span>
	</ng-template>
	<ng-template pTemplate="content" let-item>
	  <div>
		<div>
		  <div style="margin-bottom: 10px;">
			  <div class="header">{{item.validFrom}}</div>
			  
			  <div class="notification-border" style="padding: 18px; margin-top: 10px;">
				<div class="header" style="margin-bottom: 10px;">{{item.name}}</div>
				<div class="text-wrapper">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore similique quaerat aperiam neque. Consequuntur qui dolorum, hic facere et ad vel enim at ea tenetur! Eum ut quisquam laboriosam consequuntur!
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	</ng-template>
</p-timeline>