<ng-container *transloco="let t">    
    @defer (when loading === false) {
            <soft-panel>
                <panel-header [title]="userExtendedFormGroup.get('email').getRawValue()" icon="pi pi-user"></panel-header>
        
                <panel-body>
                    <form [formGroup]="formGroup" class="grid">
                        <div class="col-12">
                             <user-progressbar [partnerUser]="partnerUserFormGroup.getRawValue()" [tier]="partnerUserTier"></user-progressbar>
                        </div>
                        <!-- TODO FT: Show only if the user has permission to change points -->
                        <div class="col-12">
                            <soft-number [control]="control('points', partnerUserFormGroup)"></soft-number>
                        </div>
                        <div class="col-12 md:col-6">
                            <soft-calendar [control]="control('birthDate', userExtendedFormGroup)"></soft-calendar>
                        </div>
                        <div class="col-12 md:col-6">
                            <soft-dropdown [control]="control('genderId', userExtendedFormGroup)" [options]="genderOptions"></soft-dropdown>
                        </div>
                        <div class="col-12">
                            <soft-multiselect
                            [control]="selectedRoles"
                            [label]="t('SuperRoles')"
                            [options]="roleOptions"></soft-multiselect>
                        </div>
    
                        @for (segmentation of segmentations; track segmentation.id; let index = $index) {
                            <div class="col-12">
                                <div class="flex flex-column gap-2">
                                    <div>
                                        {{segmentation.name}} <i *ngIf="showSegmentationFirstTimeFillIcon(segmentation)" class="pi pi-info-circle" style="margin-left: 5px; cursor: pointer;" [pTooltip]="firstTimeFillText" tabindex="-1" tooltipEvent="focus"></i>
                                    </div>
                                    <segmentation-select [formGroup]="formGroup" [partnerUserId]="partnerUserFormGroup.getRawValue().id" [segmentation]="segmentation" 
                                    [allSegmentationItems]="segmentationItemsFormArray.getRawValue()" [segmentationItemsFormArray]="segmentationItemsFormArray"
                                    ></segmentation-select>
                                </div>
                            </div>
                        }
                                
                        <div class="col-12">
                            <soft-multiselect
                            [control]="selectedPartnerRoles"
                            [label]="t('PartnerRoleList')"
                            [options]="partnerRoleOptions"></soft-multiselect>
                        </div>
                    </form>
                </panel-body>
        
               <panel-footer>
                    <p-button (onClick)="onSave()" [label]="t('Save')" icon="pi pi-save"></p-button>
                    <soft-return-button></soft-return-button>
               </panel-footer>
        
            </soft-panel>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>