@defer (when userExtendedFormGroup != null && partnerUserFormGroup != null && segmentationItemsFormArray != null) {
    <soft-card [title]="detailsTitle" icon="pi pi-user">
        <soft-panel [isFirstMultiplePanel]="true">
            <panel-header title="Base details"></panel-header>
    
            <panel-body>
                <form [formGroup]="formGroup" class="grid">
                    <div class="col-12">
                        <soft-textbox [control]="control('email', userExtendedFormGroup, false, true)"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-calendar [control]="control('birthDate', userExtendedFormGroup, false, false)" [showTooltip]="!partnerUserFormGroup.getRawValue().hasFilledBirthDateForTheFirstTime" 
                        [tooltipIcon]="firstTimeFillIcon" [tooltipText]="firstTimeFillText"></soft-calendar>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-dropdown [control]="control('genderId', userExtendedFormGroup, false, false)" [options]="genderOptions" 
                        [showTooltip]="!partnerUserFormGroup.getRawValue().hasFilledGenderForTheFirstTime" [tooltipIcon]="firstTimeFillIcon" [tooltipText]="firstTimeFillText"></soft-dropdown>
                    </div>
                    <div class="col-12">
                        <soft-multiselect
                        [control]="selectedRoles"
                        label="Roles"
                        [options]="roleOptions"></soft-multiselect>
                    </div>
                </form>
            </panel-body>
    
        </soft-panel>
        <soft-panel [isLastMultiplePanel]="true">
            <panel-header title="Partner details"></panel-header>
    
            <panel-body>
                <form [formGroup]="formGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <soft-number [control]="control('points', partnerUserFormGroup)"></soft-number>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textbox [control]="control('tierDisplayName', partnerUserFormGroup, false, true)"></soft-textbox>
                    </div>

                    @for (segmentation of segmentations; track segmentation.id; let index = $index) {
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <div>
                                    {{segmentation.name}} <i *ngIf="showSegmentationFirstTimeFillIcon(segmentation)" [class]="firstTimeFillIcon" style="margin-left: 5px; cursor: pointer;" [pTooltip]="firstTimeFillText" tabindex="-1" tooltipEvent="focus"></i>
                                </div>
                                <segmentation-select [formGroup]="formGroup" [partnerUserId]="partnerUserFormGroup.getRawValue().id" [segmentation]="segmentation" 
                                [allSegmentationItems]="segmentationItemsFormArray.getRawValue()" [segmentationItemsFormArrayIdentifier]="segmentationItemsFormArrayIdentifier"
                                ></segmentation-select>
                            </div>
                        </div>
                    }
                            
                    <div class="col-12">
                        <soft-multiselect
                        [control]="selectedPartnerRoles"
                        label="Roles"
                        [options]="partnerRoleOptions"></soft-multiselect>
                    </div>
                </form>
            </panel-body>
    
           <panel-footer>
                <p-button (onClick)="onSave()" label="Save" icon="pi pi-save"></p-button>
                <soft-return-button></soft-return-button>
           </panel-footer>
    
        </soft-panel>
    </soft-card>
} @placeholder {
    <card-skeleton [height]="502"></card-skeleton>
}