<ng-container *transloco="let t">
    <form [formGroup]="excelUpdatePointsFormGroup" class="grid">
        <div class="col-12">
            <spider-file 
            [label]="t('File')"
            [required]="true"
            [multiple]="true"
            [files]="excels"
            [acceptedFileTypes]="['.xlsx', '.xls']" 
            (onFileSelected)="onSelectedExcelUpdateFile($event)"
            (onFileRemoved)="onRemovedExcelUpdateFile()"
            [control]="excelUpdatePointsFormGroup.controls.excels"
            [disabled]="!isAuthorizedForSave"
            ></spider-file>
        </div>
    </form>
</ng-container>