@defer (when model != null) {
    <soft-card [title]="detailsTitle" icon="pi pi-hashtag">
        <soft-panel>
            <panel-header></panel-header>

            <panel-body>
                <form [formGroup]="formGroup" class="grid">
                    <div class="col-12 md:col-6">
                        <soft-textbox [control]="control('name')"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textbox [control]="control('nameLatin')"></soft-textbox>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textarea [control]="control('description')"></soft-textarea>
                    </div>
                    <div class="col-12 md:col-6">
                        <soft-textarea [control]="control('descriptionLatin')"></soft-textarea>
                    </div>
                    <div class="col-12">
                        <soft-number [control]="control('pointsForFirstTimeFill')"></soft-number>
                    </div>
                    
                    <div class="col-12">
                        <soft-panel>
                            <panel-header title="Segmentation items" icon="pi pi-tags"></panel-header>
                            <panel-body [normalBottomPadding]="true">
                                @for (formGroup of getFormArrayGroups(); track formGroup; let index = $index; let last = $last) {
                                    <index-card [index]="index" [last]="false" [crudMenu]="crudMenu" (onMenuIconClick)="lastMenuIconIndexClicked = $event">
                                        <form [formGroup]="formGroup" class="grid">
                                            <div class="col-12">
                                                <soft-textbox [control]="getFormArrayControl('name', index)"></soft-textbox>
                                            </div>
                                            <!-- <div class="col-12 md:col-3">
                                                <soft-textbox [control]="getFormArrayControl('nameLatin', index)"></soft-textbox>
                                            </div> -->
                                        </form>
                                    </index-card>
                                }
                                
                                <p-button (onClick)="addNewSegmentationItem(null)" label="Add new tier" icon="pi pi-plus"></p-button>
                            </panel-body>
                        </soft-panel>
                    </div>
                </form>
            </panel-body>

            <panel-footer>
                <p-button (onClick)="onSave(true)" label="Save" icon="pi pi-save"></p-button>
                <soft-return-button></soft-return-button>
                <!-- <div footerRight>
                    Updated {{this.model.modifiedAt | pipeWithLocale}} ago
                </div> -->
            </panel-footer>

        </soft-panel>
    </soft-card>
} @placeholder {
    <card-skeleton [height]="502"></card-skeleton>
}