<ng-container *transloco="let t">
    @defer (when tierFormArray != null && storeTierFormArray != null && discountCategoryFormArray != null) {
        <soft-panel>
            <panel-header [title]="detailsTitle" [bigTitle]="true" icon="pi pi-crown"></panel-header>
    
            <panel-body [normalBottomPadding]="true">
    
                @for (tierFormGroup of getFormArrayGroups(this.tierFormArray); track tierIndex.toString() + tierFormGroup.controls['id']; let tierIndex = $index; let last = $last) {
                    <index-card [index]="tierIndex" [last]="false" [crudMenu]="tierCrudMenu" (onMenuIconClick)="lastMenuIconIndexClicked = $event">
                        <form [formGroup]="tierFormGroup" class="grid">
                            <div class="col-12 md:col-4">
                                <soft-textbox [control]="getTierFormArrayControlByIndex('name', tierIndex)"></soft-textbox>
                            </div>
                            <div class="col-12 md:col-4">
                                <soft-number [control]="getTierFormArrayControlByIndex('validFrom', tierIndex)"></soft-number>
                            </div>
                            <div class="col-12 md:col-4">
                                <soft-number [control]="getTierFormArrayControlByIndex('validTo', tierIndex)"></soft-number>
                            </div>
                            <div class="col-12">
                                <soft-textarea [control]="getTierFormArrayControlByIndex('description', tierIndex)"></soft-textarea>
                            </div>

                            <div class="col-12">
                                @for (storeTierFormGroup of getStoreTierFormArrayGroups(tierIndex); track storeTierIndex.toString() + storeTierFormGroup.controls.tierClientIndex.value.toString(); let storeTierIndex = $index; let last = $last) {
                                    <index-card [index]="storeTierIndex" [last]="false" [crudMenu]="storeTierCrudMenu" (onMenuIconClick)="lastMenuIconIndexClicked = $event">
                                        <form [formGroup]="storeTierFormGroup" class="grid">
                                            <div class="col-12">
                                                <soft-dropdown [control]="getStoreTierFormArrayControl('storeId', storeTierIndex, tierIndex)" (onChange)="storeChange($event, tierIndex, storeTierIndex)" [options]="storeOptions"></soft-dropdown>
                                            </div>
                                            <div class="col-12">
                                                <soft-data-table #discountCategoryTable
                                                [getSoftFormControl]="getDiscountCategoryFormArrayControl" [getFormArrayItems]="getDiscountCategoryFormArrayItems" 
                                                [getAlreadySelectedItemIds]="getAlreadySelectedDiscountCategoryIdsForStore" 
                                                [getAlreadySelectedItems]="getAlreadySelectedDiscountCategoryListForStore"
                                                (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" [totalRecords]="discountCategoryLength" 
                                                selectionMode="multiple" [showAddButton]="false" [tableTitle]="t('DiscountCategoryList')" [cols]="discountCategoryCols" [hasLazyLoad]="false" [showPaginator]="false"
                                                [showExportToExcelButton]="false" [formArrayControlNamesFromHtml]="formArrayControlNamesFromHtml" 
                                                [additionalIndexes]="getDiscountCategoryAdditionalIndexes(tierIndex, storeTierIndex)"
                                                ></soft-data-table>
                                            </div>
                                        </form>
                                    </index-card>
                                }

                                <div>
                                    <p-button (onClick)="addNewStoreTier(tierIndex)" [label]="t('AddNewStoreTier')" icon="pi pi-plus"></p-button>
                                </div>
                            </div>
    
                        </form>
                    </index-card>
                }
    
                <div class="panel-add-button">
                    <p-button (onClick)="addNewTier(null)" [label]="t('AddNewTier')" icon="pi pi-plus"></p-button>
                </div>
    
            </panel-body>
    
            <panel-footer>
                <p-button (onClick)="onSave()" [label]="t('Save')" icon="pi pi-save"></p-button>
            </panel-footer>
    
        </soft-panel>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>
