<ng-container *transloco="let t">
    @defer (when tierFormArray != null && businessSystemTierFormArray != null && businessSystemTierDiscountProductGroupFormArray != null) {
        <soft-panel>
            <panel-header [title]="t('TierList')" [bigTitle]="true" icon="pi pi-crown"></panel-header>
    
            <panel-body [normalBottomPadding]="true">
    
                @for (tierFormGroup of getFormArrayGroups(this.tierFormArray); track tierIndex; let tierIndex = $index; let last = $last) {
                    <index-card [index]="tierIndex" [last]="false" [crudMenu]="tierCrudMenu" (onMenuIconClick)="tierLastIndexClicked.index = $event">
                        <form [formGroup]="tierFormGroup" class="grid">
                            <div class="col-12 md:col-4">
                                <soft-textbox [control]="getTierFormArrayControlByIndex('name', tierIndex)"></soft-textbox>
                            </div>
                            <div class="col-12 md:col-4">
                                <soft-number [control]="getTierFormArrayControlByIndex('validFrom', tierIndex)"></soft-number>
                            </div>
                            <div class="col-12 md:col-4">
                                <soft-number [control]="getTierFormArrayControlByIndex('validTo', tierIndex)"></soft-number>
                            </div>
                            <div class="col-12">
                                <soft-textarea [control]="getTierFormArrayControlByIndex('description', tierIndex)"></soft-textarea>
                            </div>

                            <div class="col-12">
                                @for (businessSystemTierFormGroup of getBusinessSystemTierFormArrayGroups(tierIndex); track businessSystemTierIndex; let businessSystemTierIndex = $index; let last = $last) {
                                    <index-card [index]="businessSystemTierIndex" [crudMenu]="businessSystemTierCrudMenu" (onMenuIconClick)="businessSystemTierLastIndexClicked.index = $event; tierLastIndexClicked.index = tierIndex" [last]="false">
                                        <form [formGroup]="businessSystemTierFormGroup" class="grid">
                                            <div class="col-12">
                                                <soft-dropdown [control]="getBusinessSystemTierFormArrayControl('businessSystemId', businessSystemTierIndex, tierIndex)" (onChange)="businessSystemChange($event, tierIndex, businessSystemTierIndex)" [options]="businessSystemOptions"></soft-dropdown>
                                            </div>
                                            <div class="col-12">
                                                <soft-data-table #businessSystemTierDiscountProductGroupTable
                                                [getFormArrayItems]="getDiscountProductGroupFormArrayItems" 
                                                [getSoftFormControl]="getDiscountProductGroupFormArrayControl" 
                                                [getAlreadySelectedItemIds]="getAlreadySelectedBusinessSystemTierDiscountProductGroupIdsForBusinessSystem" 
                                                [getAlreadySelectedItems]="getAlreadySelectedDiscountProductGroupListForBusinessSystem"
                                                (onIsAllSelectedChange)="allSelected($event)"
                                                (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" 
                                                selectionMode="multiple" [showAddButton]="false" [tableTitle]="t('DiscountProductGroupList')" [cols]="businessSystemTierDiscountProductGroupCols" 
                                                [hasLazyLoad]="false" [showPaginator]="false"
                                                [showExportToExcelButton]="false" [formArrayControlNamesFromHtml]="formArrayControlNamesFromHtml" 
                                                [additionalIndexes]="getBusinessSystemTierDiscountProductGroupAdditionalIndexes(tierIndex, businessSystemTierIndex)"
                                                ></soft-data-table>
                                            </div>
                                        </form>
                                    </index-card>
                                }

                                <div>
                                    <p-button (onClick)="addNewBusinessSystemTier(tierIndex)" [label]="t('AddNewBusinessSystemTier')" icon="pi pi-plus"></p-button>
                                </div>
                            </div>
    
                        </form>
                    </index-card>
                }
    
                <div class="panel-add-button">
                    <p-button (onClick)="addNewTier(null)" [label]="t('AddNewTier')" icon="pi pi-plus"></p-button>
                </div>
    
            </panel-body>
    
            <panel-footer>
                <p-button (onClick)="onSave(false)" [label]="t('Save')" icon="pi pi-save"></p-button>
            </panel-footer>
    
        </soft-panel>
    } @placeholder {
        <card-skeleton [height]="502"></card-skeleton>
    }
</ng-container>
