<ng-container *transloco="let t">
    <div class="min-h-screen" style="display: flex; justify-content: center; align-items: center;">
        <div class="dialog" style="padding: 0px;">
            <spider-panel>
                <panel-header [title]="t('SelectThePartner')" [bigTitle]="true" icon="pi pi-at"></panel-header>
                
                <panel-body>
                    <form class="grid">
                        <div class="col-12">
                            <div class="header">{{title}}</div>
                        </div>
                        <div class="col-12">
                            {{description}}
                        </div>
                        
                        <ng-content></ng-content>
                        
                    </form>
                </panel-body>
                
            </spider-panel>
        </div>
    </div>
</ng-container>